---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CACTUS公式サイト | ブログ">
  <Header />

  <main>
    <h2>ブログ</h2>
    <p>ここに内容を書きます</p>
  </main>

  <Footer />
</BaseLayout>
