---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="CACTUS公式サイト | お問い合わせ">
  <Header />

  <main>
    <h2>お問い合わせ</h2>
    <p>以下のフォームにご記入ください。</p>

    <!-- Googleフォームの埋め込み -->
    <iframe 
      src="https://forms.gle/b64he1FvAJfwt7zCA" 
      width="100%" 
      height="600" 
      frameborder="0" 
      marginheight="0" 
      marginwidth="0">
      読み込んでいます…
    </iframe>
  </main>

  <Footer />
</BaseLayout>
