<style>
  /* 全体のスタイル設定 */
  :global(body) {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ビューポート全体の高さを最低限確保 */
    margin: 0;
  }

  :global(main) {
    flex: 1; /* メインコンテンツのスペース確保用 */
  }

  footer {
    padding: 1em;
    background-color: #beff3d;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    width: 100%;
  }
</style>

<footer>
  <p>&copy; 2024 情報研究会CACTUS. All Rights Reserved.</p>
</footer>
