<footer style="
  padding: 1em; 
  background-color: #beff3d; 
  text-align: center; 
  color: #333; 
  position: absolute;
  left: 0; 
  right: 0; 
  width: 100%; 
  z-Index: -10;
  box-sizing: border-box;">
  <p>&copy; 2024 情報研究会CACTUS. All Rights Reserved.</p>
</footer>
